


body {
	font-family: 'IBM Plex Mono', monospace;
	color: #482d7c;
}

h1 {
font-family: 'IBM Plex Mono', bold;
font-weight: 700;
color: #482d7c;

}

h2 {
	font-family: 'IBM Plex Mono', bold;
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

h5 {
	font-size: 16px;
}

p {
	font-family: 'IBM Plex Mono', 600;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .05em;
	color: #482d7c;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}

section {
	padding: 100px 0px;
}

.title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.title-block p {
	font-size: 20px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
}

.divider {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
    border-top: 1px solid #3c3f45;
}

.divider-light {
	padding: 2rem 0 0;
    margin: 2rem 0 0;
	border-top: 1px solid #edf1f2
}

/* ==============================================
   2. Navbar
===============================================*/

.custom-navbar {
	background-color: #ffffff!important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
	height: 70px;
	max-height: 70px;
}

.navbar-toggler {
	font-size: 38px;
	background-color: transparent;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: none;
}

.navbar-toggler-icon {
	color: #ffffff;
}

.navbar-collapse {
	background-color: #ffffff;
}

.nav-custom-link {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .05em;
	margin-top: 5px;
}

.navbar a {
	color: #53627C !important;
}

.nav-right {
	float: right;
}

/* ==============================================
   3. Buttons
===============================================*/

.btn {
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px!important;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08);
}

.btn:hover {
	text-decoration: none;
}

.btn-regular {
	background-color: #ffcc00;
	color: #482d7c;
	padding: 10px 25px;
	letter-spacing: .1em;
	margin-top: 25px;
	display: inline-block;
}

.btn-regular:hover {
	background-color: #00bcdb;
	color: #ffffff;
}

.btn-demo {
	color: #ffffff;
	background-color: #6772e5;
	letter-spacing: .1em;
	padding: 15px 48px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.btn-demo:hover {
	color: #ffffff;
	background-color: #000;
}

.btn-demo-small {
	font-size: 12px;
	background-color: #6772e5;
	padding: 1px 4px;
}

.btn-demo-small:hover {
	background-color: #000;
}

.btn-demo-small a {
	color: #ffffff!important;
}

.btn-buy {
	color: #ffffff;
	background-color: #0095f7;
	letter-spacing: .1em;
	padding: 15px 48px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.btn-buy:hover {
	background-color: #000;
	color: #ffffff;
}

/* ==============================================
   4. ACCUEIL
===============================================*/
element.style {
    min-height: 90vh;
    align-items: center;
}

#accueil {
	background-color: #f6f8f9;
	background: url(images/HOME01.jpg) top center no-repeat;
	background-size: cover;
	min-height: 100vh;

}

#accueil h1 {
	font-size: 40px;
	font-weight: 700;

	text-align: left;
}

#accueil p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #482d7c;
    margin-bottom: 0px;
    padding: 20px;
			text-align: left;
		margin-left: auto;
			max-width: 85%;

}

#accueil span {
	font-weight: 400;
    color: #482d7c;
    text-transform: uppercase;
    letter-spacing: .05em;
}

/* ==============================================
   JEUX1
===============================================*/
#jeux1 {
background: url(images/part1.png) top center no-repeat;
	background-color: #83f2ce;
	background-size: cover;
	min-height: 98vh;

}
#jeux4 h2 {
	margin: auto;
		text-align: left;
		max-width: 57%;
}

#jeux1 p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #482d7c;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
		text-align: left;
}

#jeux1 span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.content-box {
float: inherit;


}

/* ==============================================
   JEUX2
===============================================*/
#jeux2 {
	background: url(images/part2.png)top center no-repeat;
	background-color: #fe896e;
	background-size: cover;
	min-height: 98vh;

}

#jeux2 h2 {
	margin: auto;
		text-align: left;
		max-width: 57%;
}

#jeux2 p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #482d7c;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
			text-align: left;
}

#jeux2 span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.content-box {
float: inherit;
	text-align: center;

}





/* ==============================================
   JEUX3
===============================================*/
#jeux3 {

	background: url(images/part3.png)top center no-repeat;
	background-color: #6c82dc;
	background-size: cover;
	min-height: 98vh;

}

#jeux3 h2 {
	margin: auto;
		text-align: left;
		max-width: 57%;
}

#jeux3 p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #482d7c;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
			text-align: left;

}

#jeux3 span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.content-box {
float: inherit;
	text-align: center;

}

/* ==============================================
   JEUX4
===============================================*/
#jeux4 {
	background: url(images/part4.png)top center no-repeat;
	background-color: #f3f757;
	background-size: cover;
	min-height: 98vh;
}

#jeux4 h2 {
	margin: auto;
		text-align: left;
		max-width: 57%;
}

#jeux4 p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #482d7c;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
			text-align: left;

}

#jeux4 span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}


.content-box {
	float: inherit;
	text-align: center;

}

/* ==============================================
   CONTACT
===============================================*/
#contact {
	background: url(images/contact.png)top center no-repeat;
	background-color: #f6f6f6;
	background-size: cover;
	min-height: 98vh;
}

#contact h2 {
	color: #00bcda;
	margin: auto;
		text-align: left;
		max-width: 56%;
}

#contact p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #00bcda;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
			text-align: left;

}

#contact span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}


.content-box {
	float: inherit;
	text-align: center;

}


/* ==============================================
   A PROPOS
===============================================*/
#apropos {
	background: url(images/apropos.png)top center no-repeat;
	background-color: #f6f6f6;
	background-size: cover;
	min-height: 98vh;
}

#apropos h2 {
	color: #00bcda;
	margin: auto;
		text-align: left;
		max-width: 56%;
}

#apropos p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
    font-weight: 600;
    color: #00bcda;
    margin-bottom: 0px;
    padding: 20px;
		max-width: 60%;
		margin: auto;
			text-align: left;

}

#apropos span {
	font-weight: 400;
	color: #0095f7;
	text-transform: uppercase;
	letter-spacing: .05em;
}


.content-box {
	float: inherit;
	text-align: center;

}


/* ==============================================
   9. Footer
===============================================*/

footer {
	background-color: #82f2ce;
    padding: 60px 0;
    color: #62656a;
}

footer h5 {
	color: #aeb3bd;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 20px;
}

footer p {
	font-size: 12px;
	font-weight: 300;
	color: #62656a;
	text-align: justify;
	padding: 0px;
}

footer li {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .05em;
	line-height: 1.5;
	margin-bottom: 10px;
}

footer a {
	font-family: 'IBM Plex Mono', bold;
	font-weight: 600;
	color: #482d7c;
}

footer a:hover {
	color: #482d7c;
	text-decoration: none;
}

footer i {
	font-size: 25px;
	color: #62656a;
	margin-right: 10px;
}

footer i:hover {
	color: #0095f7;
}

footer small {
	font-family: 'IBM Plex Mono', bold;
	font-weight: 600;
	color: #482d7c;
	float: right;
}

.external-links {
	color: #0095f7;
}

/* ==============================================
   9. Media Queries
===============================================*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	h2 {
		font-size: 34px!important;
		margin-bottom: 20px;
		line-height: 1.6;
	}
	.title-block h2, p {
		text-align: left;
		padding: 0px 20px;
	}

	#call-to-action h2, p {
		text-align: left!important;
		padding: 0 20px;
	}

	#call-to-action {
		background-image: none;
		background-color: #0095f7;
	}

	footer {
		padding: 60px 25px;
	}
	footer h5 {
		font-size: 18px;
		margin-top: 30px;
	}
	footer li {
		font-size: 16px;
		margin-bottom: 15px;
	}
	footer p {
		font-size: 16px;
	}
	footer i {
		font-size: 30px;
		margin-right: 20px;
	}
	footer small {
		float: left;
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	#accueil h1 {
		font-size: 34px!important;
		margin-bottom: 20px;
	}
	#accueil p {
		font-size: 20px!important;
	}
}

@media (max-width: 991px) {
	.nav-right {
		float: left;
	}
	.nav-custom-link {
		border-bottom: 1px solid #EEE;
	}
	.navbar-nav{
		width: 100%;
	}
	.navbar-nav .nav-link {
		padding: 20px 0;
		text-align: left;
	}

	.btn-demo-small {
		background-color: #ffffff;
		border: 0px;
		padding: 0px;
		box-shadow: none;

	}
	.btn-demo-small:hover {
		background-color: #ffffff;
		border: 0px;
		padding: 0px;
		box-shadow: none;

	}
	.btn-demo-small a {
		color: #53627C!important;
	}
	.nav-custom-link {
		font-size: 13px;
	}

	.icon-mobile {
		font-size: 18px;
		float: right;
	}

	.navbar-collapse {
		border-bottom: 1px solid #efefef;
	}

	.nav-logo-mobile {
		margin: auto;
		padding-right: 50px;
	}

	.nav-logo-desktop {
		display: none;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.icon-mobile {
		display: none;
	}
	.nav-logo-mobile {
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.hero-content {
		margin-top: 100px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.pricing-box h3 {
		font-size: 17px;
	}
	.pricing-box p {
		font-size: 14px;
	}
	.pricing-box li {
		font-size: 12px;
	}
	.btn-buy {
		font-size: 12px;
		padding: 15px 20px;
	}
	.btn-demo {
		font-size: 12px;
		padding: 15px 20px;
	}
	.profile-picture {
		width: 50px;
		height: 50px;
	}
	.testimonial-box h6 {
		font-size: 14px;
		margin-left: 10px;
	}
	.testimonial-box span {
		font-size: 12px;
	}
	.testimonial-box small {
		font-size: 12px;
		margin-top: 4px;
		margin-left: 10px;
	}
}
